---
layout: default
---

<div class="screen-height-min flex-row">

  <div class="half-width expand-children">
    {% capture dancer %}
      <img class="full-size object-fit-cover" src="{{ site.baseurl }}/assets/gulp-pictures/dancer.png" alt="A shot of a dancer from one of my videos.">
    {% endcapture %}
    {% include gulp-picture.liquid img=dancer %}
  </div>

  <div class="red half-width padding-l flex-col flex-justify-center">
    <h1>{{ site.title }}</h1>
    <p class="fw-bold">{{ site.description }}</p>

    {% capture bio %}{% include bio.md %}{% endcapture %}
    {{ bio | markdownify }}
  </div>

</div>
