---
layout: default
---

<div class="content-wrapper padding-l font-0">
  {% for category in site.categories %}
    {% assign category_name = category | first %}
    <a class="button margin-m-r" href="#{{ category_name | replace: ' ', '-' }}">{{ category_name }}</a>
  {% endfor %}

  {% for category in site.categories %}
    {% assign category_name = category | first %}
    <div id="{{ category_name | replace: ' ', '-' }}" class="target target-display">
      {% for video in site.categories[category_name] %}
        {% include video.html video=video %}
      {% endfor %}
    </div>
  {% endfor %}
</div>
