---
layout: default
---

<div class="content-wrapper padding-l v-rhythm">
  <header class="border-fat-b font-0">
    {% for category in site.categories %}
      {% assign category_name = category | first %}
      <a class="button margin-s-r margin-0-b" href="#{{ category_name | slugify }}">{{ category_name }}</a>
    {% endfor %}
  </header>

  {% for category in site.categories %}
    {% assign category_name = category | first %}
    <div id="{{ category_name | slugify }}" class="inline-columns-3 target target-display">
      {% for video in site.categories[category_name] %}
        {% include video.html video=video %}
      {% endfor %}
    </div>
  {% endfor %}
</div>
